{% extends "layout.html" %}

{% block title %}About Us - Helix-080{% endblock %}

{% block content %}
<!-- About Section -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<section id="about" class="bg-gray-100 py-16">
    <div class="container mx-auto flex flex-col items-center">
        <div class="text-center mb-8">
            <h2 class="text-3xl font-extrabold text-[#1a1a40]">About Us</h2>
            <p class="mt-4 text-lg text-gray-700">We are a group of 4 participating in this hackathon. Our team is passionate about innovation and collaboration.</p>
        </div>
        <div class="flex flex-wrap justify-center">
            <!-- Team Member 1 -->
            <div class="md:w-1/4 p-4 text-center">
                <img src="/static/images/prashan.jpeg" alt="Prashan Chenta Rai" class="rounded-full w-32 h-32 mx-auto mb-4 object-cover">
                <h3 class="text-xl font-bold text-[#1a1a40]">Prashan Chenta Rai</h3>
                <p class="text-gray-700">PUR080BEI030</p>
                <p class="text-gray-600 mt-2">A brief description about Prashan Rai and their role in the team.</p>
                <div class="flex justify-center space-x-4 mt-2">
                    <a href="https://www.facebook.com/Prashan.Raiii" target="_blank" class="text-blue-600">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/prashan.raii/" target="_blank" class="text-pink-600">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com/PrashanRaii" target="_blank" class="text-gray-900">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="md:w-1/4 p-4 text-center">
                <img src="/static/images/aadesh.jpeg" alt="Aadesh Dahal" class="rounded-full w-32 h-32 mx-auto mb-4 object-cover">
                <h3 class="text-xl font-bold text-[#1a1a40]">Aadesh Dahal</h3>
                <p class="text-gray-700">PUR080BEI002</p>
                <p class="text-gray-600 mt-2">A brief description about Aadesh Dahal and their role in the team.</p>
                <div class="flex justify-center space-x-4 mt-2">
                    <a href="https://www.facebook.com/profile.php?id=100086562643929" target="_blank" class="text-blue-600">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/aad_esh.dl?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="text-pink-600">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com/aadesh1145" target="_blank" class="text-gray-900">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="md:w-1/4 p-4 text-center">
                <img src="/static/images/nishchal.jpeg" alt="Nishchal Pokhrel" class="rounded-full w-32 h-32 mx-auto mb-4 object-cover">
                <h3 class="text-xl font-bold text-[#1a1a40]">Nishchal Pokhrel</h3>
                <p class="text-gray-700">PUR080BEI027</p>
                <p class="text-gray-600 mt-2">A brief description about Nishchal Pokhrel and their role in the team.</p>
                <div class="flex justify-center space-x-4 mt-2">
                    <a href="https://www.facebook.com/Nischalp97" target="_blank" class="text-blue-600">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/nis_pokh?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="text-pink-600">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com/nischalp97" target="_blank" class="text-gray-900">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <!-- Team Member 4 -->
            <div class="md:w-1/4 p-4 text-center">
                <img src="/static/images/sushil.jpeg" alt="Sushil Kumar Mandal" class="rounded-full w-32 h-32 mx-auto mb-4 object-cover">
                <h3 class="text-xl font-bold text-[#1a1a40]">Sushil Kumar Mandal</h3>
                <p class="text-gray-700">PUR080BEI045</p>
                <p class="text-gray-600 mt-2">A brief description about Sushil Kr Mandal and their role in the team.</p>
                <div class="flex justify-center space-x-4 mt-2">
                    <a href="https://www.facebook.com/profile.php?id=61557351412525" target="_blank" class="text-blue-600">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/sushilkr_mandal?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="text-pink-600">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com//Sushil-Mandal" target="_blank" class="text-gray-900">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}